build/
/target/
core/build/
core/target/
drivers/build/
drivers/target/
tools/build/
tools/target/
samples/lib/
*.zip
*.log
/custom.build.properties
.vscode
/drivers/drivers.iml
/core/core.iml
/tools/tools.iml
/.agent-logs/
