<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:mem:spring"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>
    <bean id="executor" class="scriptella.driver.spring.EtlExecutorBean">
        <property name="configLocation" value="/scriptella/driver/spring/SpringDriverTest.xml"/>
        <property name="properties"><map>
            <entry key="tableName" value="SpringTable"/>
            </map>
        </property>
    </bean>
    <bean class="scriptella.driver.spring.EtlExecutorBean">
        <property name="configLocation" value="/scriptella/driver/spring/autostart.etl.xml"/>
        <property name="autostart" value="true"/>
    </bean>
    <bean class="scriptella.driver.spring.EtlExecutorBean">
        <property name="configLocation" value="/scriptella/driver/spring/bug4648.etl.xml"/>
        <property name="autostart" value="true"/>
    </bean>
    <bean class="scriptella.driver.spring.BatchEtlExecutorBean" init-method="run">
        <property name="configLocations"><list>
            <value>/scriptella/driver/spring/batch1.etl.xml</value>
            <value>/scriptella/driver/spring/batch2.etl.xml</value>
        </list></property>
        <property name="properties">
            <map>
                <entry key="tableName" value="Batch"/>
            </map>
        </property>
    </bean>


</beans>